<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Blog al estilo Twitter</title>
    <style>
      /* Estilos globales  */
      body {
  font-family: Arial,sans-serif;
  color: #292f33;
}

      /* / Encabezado / */
      .sticky-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #1da1f2;
        color: #fff;
        padding: 10px;
        text-align: center;
        height: 60px;
      }

      h1 {
        margin: 0;
      }

      h2 {
        margin: 0;
      }

      /* / Contenedor de publicaciones / */
      .container {
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        max-width: 600px;
        line-height: 18px;
        width: 588px;
        margin: auto;
        border-radius: 5px;
      }

      /* / Publicación / */
      .post {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        margin-bottom: 10px;
        padding: 10px;
        justify-content: center; /* Agregar esta línea */
        align-items: center; /* Agregar esta línea */

      }

      .post img {
        max-width: 100%;
      }

      .post h2 {
        margin: 0;
      }

      .post p {
        margin-top: 10px;
      }

      /* Pie de página  */
      footer {
        background-color: #1da1f2;
        color: #fff;
        padding: 10px;
        text-align: center;
      }

      .button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        border-radius: 9999px;
        border: none;
        height: 50px;
        cursor: pointer;
        background-color: inherit;
      }

      .button span {
        line-height: 50px;
        padding: 0 20px;
        padding-right: 60px;
        font-size: 20px;
        font-weight: 600;
        color: #000;
      }

      .button .background {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0px;
        right: 0px;
        border-radius: 9999px;
        background-color: #1780c2;
        transition: width 0.2s ease-in-out;
        z-index: -1;
      }

      .button .background svg {
        width: 36px;
        height: 36px;
        position: absolute;
        top: 50%;
        right: -1px;
        transform: translate(0%, -50%);
      }

      .button:hover .background {
        width: 100%;
      }

      .gta5 {
        position: absolute;
        right: 100px;
        top: 40px;
      }
      .gta6 {
        position: absolute;
        right: 260px;
        top: 40px;
      }
    </style>
  </head>

  <body>
    <header class="sticky-header">
      <h1>HOME PAGE</h1>
      <!-- <a style="text-decoration: none" href="/auth/register"><h2>Registrarse</h2></a> -->
      <div class="gta5">
        <a style="text-decoration: none" class="button" href="/auth/login">
          <span>Login</span>
          <div class="background">
            <svg
              width="36px"
              height="36px"
              viewBox="0 0 64 64"
              xmlns="http://www.w3.org/2000/svg"
              stroke-width="3"
              stroke="#000000"
              fill="none"
            >
              <circle cx="29.22" cy="16.28" r="11.14"></circle>
              <path
                d="M41.32,35.69c-2.69-1.95-8.34-3.25-12.1-3.25h0A22.55,22.55,0,0,0,6.67,55h29.9"
              ></path>
              <circle cx="45.38" cy="46.92" r="11.94"></circle>
              <line x1="45.98" y1="39.8" x2="45.98" y2="53.8"></line>
              <line x1="38.98" y1="46.8" x2="52.98" y2="46.8"></line>
            </svg>
          </div>
        </a>
      </div>
      <div class="gta6">
        <a style="text-decoration: none" class="button" href="/auth/register">
          <span>Register</span>
          <div class="background">
            <svg
              width="36px"
              height="36px"
              viewBox="0 0 64 64"
              xmlns="http://www.w3.org/2000/svg"
              stroke-width="3"
              stroke="#000000"
              fill="none"
            >
              <circle cx="29.22" cy="16.28" r="11.14"></circle>
              <path
                d="M41.32,35.69c-2.69-1.95-8.34-3.25-12.1-3.25h0A22.55,22.55,0,0,0,6.67,55h29.9"
              ></path>
              <circle cx="45.38" cy="46.92" r="11.94"></circle>
              <line x1="45.98" y1="39.8" x2="45.98" y2="53.8"></line>
              <line x1="38.98" y1="46.8" x2="52.98" y2="46.8"></line>
            </svg>
          </div>
        </a>
      </div>
    </header>

    <div class="container">
      <div class="post">
        <h2>Título de la publicación</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          euismod sapien sed risus pretium, ac consequat augue fermentum.
          Aliquam in nulla vestibulum, pharetra enim a, laoreet velit. Duis
          commodo elit libero, et pharetra quam semper sed. In eu commodo metus,
          vel tempor quam. Nullam molestie leo eget aliquam suscipit. Nam eu
          nulla sed nisl sagittis hendrerit in non magna. Pellentesque habitant
          morbi tristique senectus et netus et malesuada fames ac turpis
          egestas.
        </p>
        <img
          src="https://via.placeholder.com/500x300.png"
          alt="Imagen de la publicación"
        />
      </div>
      <div class="post">
        <h2>Título de la publicación</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          euismod sapien sed risus pretium, ac consequat augue fermentum.
          Aliquam in nulla vestibulum, pharetra enim a, laoreet velit. Duis
          commodo elit libero, et pharetra quam semper sed. In eu commodo metus,
          vel tempor quam. Nullam molestie leo eget aliquam suscipit. Nam eu
          nulla sed nisl sagittis hendrerit in non magna. Pellentesque habitant
          morbi tristique senectus et netus et malesuada fames ac turpis
          egestas.
        </p>
      </div>
      <div class="post">
        <h2>Título de la publicación</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          euismod sapien sed risus pretium, ac Imagen consequat augue fermentum.
          Aliquam in nulla vestibulum, pharetra enim a, laoreet velit. Duis
          commodo elit libero, et pharetra quam semper sed. In eu commodo metus,
          vel tempor quam. Nullam molestie leo eget aliquam suscipit. Nam eu
          nulla sed nisl sagittis hendrerit in non magna. Pellentesque habitant
          morbi tristique senectus et netus et malesuada fames ac turpis
          egestas.
        </p>
        <img
          src="https://via.placeholder.com/500x300.png"
          alt="Imagen de la publicación"
        />
      </div>
    </div>
    <footer>
      <p>© 2023 Blog al estilo Twitter</p>
    </footer>
  </body>
</html>
